<div class="column">

	<div class="ui grid segment">
		<div class="row">
		   	<div class="column ui center aligned">
		   		<button class="ui blue button" x-ng-click="info()">
		   			Info
		   		</button>
		   		<button class="ui green button" x-ng-click="success()">
		   			Success
		   		</button>
		   		<button class="ui yellow button" x-ng-click="warning()">
		   			Warn
		   		</button>
		   		<button class="ui red button" x-ng-click="error()">
		   			Error
		   		</button>
		   		<button class="ui button" x-ng-click="clear()">
		   			Clear
		   		</button>
		   	</div>
	   	</div>
		
		<semantic-notify-directive></semantic-notify-directive>
		
   	</div>
   	
</div>
